.drop {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: lightblue;
    position: absolute;
}

#stop {
    border-radius: 15px;
    border: none;
    background-color: lightblue;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s ease-in;
    margin: 5px 0 0 5px;
}

#stop:hover {
    opacity: 1;
}

.noOverflow {
    overflow: hidden;
}

#zone {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background-color: #27373b;
    border-radius: 15px;
    overflow: hidden;
}

body.light #zone {
    background-color: #effcff;
}