.drop {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #ffffff63;
    box-sizing: border-box;
}

#stop {
    border-radius: 15px;
    border: none;
    background-color: #cef5ff;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s ease-in;
    margin: 5px 0 0 5px;
}

#stop:hover {
    opacity: 1;
}

.noOverflow {
    overflow: hidden;
}

#zone {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border: 1px solid #cef5ff;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

body.light .drop {
    border: 1px solid #2a29294f;
}

body.light #stop {
    background-color: #2a29294f;
}

body.light #zone {
    border: 1px solid #2a29294f;
}