.drop {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: lightblue;
    position: absolute;
}

#stop {
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s ease-in;
}

#stop:hover {
    opacity: 1;
}

.noOverflow {
    overflow: hidden;
}